* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 900px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 150px;
    width: 30%;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(38, 189, 8);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxes {
    height: 60%;
    width: 15%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: rgb(38, 189, 8);
    font-family: cursive;
}

.nbox {
    height: fit-content;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    color: rgb(38, 189, 8);
    font-size: 140%;
    font-weight: 700;
    font-family: cursive;
    margin-top: 6%;
    margin-left: 1%;
}