*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 900px;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 200px;
    width: 40%;
    background-color: rgb(87, 86, 86);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.boxes{
    height: 60%;
    width: 15%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
